@use "../../../scss/variable.scss" as *;

.proCat_continuMobile {

  height: 70vh;
  display: grid;
  align-content: center;
    background-color: $backgroundColor;

    .css-1wc848c-MuiFormHelperText-root {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .smling-forgot-main {
        margin-inline: 6%;
        background-color: white;
    }

    .smr_loginmobileBox {
        width: 420px;
        margin: 10px;
    }

    .submitBtnForgot {
        height: 60px;
        width: 420px;
        // color: white;
        // background-color: #7d7f85;
        border: 0;
        margin-top: 10px;
        font-size: 15px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
        letter-spacing: 1;
        transition: all 0.5s ease;
    }

    // .submitBtnForgot:hover {
    //     background-color: white;
    //     color: #7d7f85;
    //     border: 1px solid #7d7f85;
    // }

    .pro_cancleForgot {
        color: #7d7f85;
        font-size: 12px;
        margin-top: 25px;
        font-weight: 500;
        background-color: white;
        font-size: 14px;
        letter-spacing: 1px;
        border: 1px solid #c7c7c9;
        width: 420px;
        height: 60px;
        position: relative;
        text-decoration: none;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .pro_cancleForgot:hover {
        background-color: #deeaf7;
    }

    .cancleForgot {
        color: #7d7f85;
        font-size: 12px;
        margin-top: 25px;
        font-weight: 500;
        letter-spacing: 1px;

        position: relative;
        text-decoration: none;
        transition: color 0.3s;
        cursor: pointer;
    }

    .cancleForgot::before {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transition: width 0.3s ease;
    }

    .cancleForgot:hover::before {
        width: 100%;
    }

    .cancleBtn {
        margin-top: 10px;
    }

    .labgrowRegister {
        width: 420px;
        margin: 10px;
    }

    @media screen and (max-width: 1200px) {
        .smling-forgot-main {
            margin-inline: 1% !important;
        }
    }

    @media screen and (max-width: 950px) {
        .AuthScreenMainTitle {
            font-size: 30px !important;
            padding-bottom: 50px !important;
        }

        .AuthScreenSubTitle {
            font-size: 15px !important;
            margin-inline: 15%;
        }




    }

    // @media screen and (max-width: 700px) {
    //     .smr_loginmobileBox {
    //         width: 90%;
    //     }

    //     .submitBtnForgot {
    //         width: 50%;
    //         height: 50px !important;

    //     }

    // }

    @media screen and (max-width: 550px) {

        .smr_loginmobileBox {
            width: 90% !important;
        }

        .submitBtnForgot {
            width: 90%;
            height: 50px !important;
        }

        .AuthScreenMainTitle {
            font-size: 27px !important;
            padding-bottom: 50px !important;
        }

        .AuthScreenSubTitle {
            font-size: 13.5px !important;
            margin-inline: 15%;
        }

        .pro_cancleForgot {
            width: 90%;
            height: 50px !important;
        }

        .AuthScreenSubTitle {
            margin-top: -65px !important;
        }
    }
}