.album_SkeltenShow {
    width: 100%;
    // padding-inline: 5% ;
}

.skeltonMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-inline: 4%;
    margin-bottom: 20px;
}

.skeltonMainDiv_prodlistPage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    // margin-inline: 13%;
    margin-bottom: 20px;
}

.skeltoncards {
    box-shadow: none !important;
}

.proCat_album_skle_Main {
    display: flex !important;
    justify-content: center !important;
}

.proCat_lookbookcards_listpage {
    box-shadow: none !important;
    width: 350px
}

@media (max-width:1440px) {
    .filtercard {
        display: none !important;
    }

    .topSkeletonMain {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .skeltonMainDiv {
        margin-inline: 1%;
    }

    .cardMainSkeleton {
        height: 20vh !important;
    }


}