//backgroundcolors
$backgroundColor: '';
// $backgroundColor: #f1e9dd;
$btn1bgColor: #fff;
$btn1ActivebgColor: #7d7f85;

//fontcolors
$primaryfontcolor: #8f8c8be6;
$primaryfontcolor2: #7d7f85;
// $primaryfontcolor:#8f8c8b;
$homePageFontColor: #221F1F;
$titleColor: #7d7f85;
$btn1FontColor: #7d7f85;
$btn1hoverColor: #7d7f85;
$btn1hoverFontColor: #fff;
$primaryfontcolorLight: #7d7f856e;

//fontFamily
$homePageFontFamily: 'FreightDispProMedium-Regular,Times New Roman,serif';
// $primaryFontFamily:"Rubik", sans-serif;
$primaryFontFamily: 'TT Commons Regular';
// $primaryFontFamily:"Roboto", sans-serif;
$primaryFontFamilyMedium: 'TT Commons Medium';
// $primaryFontFamilyMedium:"Roboto", sans-serif;

@keyframes scaleUpDown {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

//fontSize
$fontSize0: 10px;
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 22px;
$fontSize6: 28px;
$fontSize7: 35px;
$fontSize8: 40px;

//borderColor
$primaryBorderColor: #e1e1e1;
$primaryBorderColor2: #42424233;


