.skeltonMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-inline: 4%;
    margin-bottom: 20px;
}

.skeltonMainDiv_prodlistPage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    // margin-inline: 13%;
    margin-bottom: 20px;
}

.skeltoncards {
    box-shadow: none !important;
}

.skeltoncards_listpage {
    box-shadow: none !important;
    // width: 325px;
    padding: 0;
    padding-top: 16px;
    padding-inline: auto;

    @media (max-width: 1800px) {
        width: 310px;
    }

    @media (max-width: 1700px) {
        width: 270px;
    }

    @media (max-width: 1575px) {
        width: 245px;
    }

    @media (max-width: 1430px) {
        width: 220px;
    }

    @media (max-width: 1300px) {
        width: 200px;
    }

    @media (max-width: 1200px) {
        width: 270px;
    }

    @media (max-width: 1120px) {
        width: 250px;
    }

    @media (max-width: 1060px) {
        width: 230px;
    }

    @media (max-width: 970px) {
        width: 210px;
    }

    @media (max-width: 899px) {
        width: 260px;
        margin-inline: auto;
        padding-left: 0;
    }
    @media (max-width: 840px) {
        width: 245px;
        margin-inline: auto;
        padding-left: 0;
    }
    @media (max-width: 795px) {
        width: 220px;
        margin-inline: auto;
        padding-left: 10px;
    }
    @media (max-width: 720px) {
        width: 185px;
        margin-inline: auto;
        padding-left: 10px;
    }
    @media (max-width: 600px) {
        width: 250px;
    }
    @media (max-width: 530px) {
        width: 220px;
    }
    @media (max-width: 475px) {
        width: 190px;
    }
    @media (max-width: 420px) {
        width: 165px;
    }
    @media (max-width: 375px) {
        width: 135px;
    }
}

@media (max-width:1440px) {
    .filtercard {
        display: none !important;
    }

    .topSkeletonMain {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .skeltonMainDiv {
        margin-inline: 1%;
    }

    .cardMainSkeleton {
        height: 20vh !important;
    }


}