@use "../../../scss/variable.scss" as *;

.proCat_loginEmail {
  height: 70vh;
  display: grid;
  align-content: center;

  #outlined-confirm-password-input::-ms-reveal {
    display: none !important;
  }

  .smr_loginEmailD {
    background-color: white;
    margin-inline: 6%;
  }

  .pro_SmilingLoginCodeBtn {
    height: 60px;
    width: 420px;
    // color: white;
    // background-color: #7d7f85;
    border-radius: 4px;
    border: 0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1;
    transition: all 0.5s ease;
  }

  .pro_cancleForgot {
    color: #7d7f85;
    font-size: 12px;
    margin-top: 25px;
    font-weight: 500;
    background-color: white;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #c7c7c9;
    width: 420px;
    height: 60px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .pro_cancleForgot:hover {
    background-color: #deeaf7;
  }

  .submitBtnForgot {
    height: 60px;
    width: 420px;
    // color: white;
    // background-color: #7d7f85;
    border: 0;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1;
    transition: all 0.5s ease;
  }

  // .pro_SmilingLoginCodeBtn:hover {
  //     background-color: white;
  //     color: #7d7f85;
  //     border: 1px solid #7d7f85;
  // }

  .smr_loginPasswordBox {
    width: 420px;
    margin: 10px;
  }

  @media screen and (max-width: 1200px) {
    .smr_loginEmailD {
      margin-inline: 1% !important;
    }
  }

  @media screen and (max-width: 950px) {
    .AuthScreenMainTitle {
      font-size: 30px !important;
      padding-bottom: 50px !important;
    }

    .AuthScreenSubTitle {
      font-size: 17px !important;
      margin-top: -55px !important;
    }
  }

  // @media screen and (max-width: 700px) {

  //     .submitBtnForgot {
  //         width: 50%;
  //         height: 50px !important;
  //     }

  //     .pro_SmilingLoginCodeBtn {
  //         width: 50%;
  //         height: 50px !important;

  //     }
  // }

  @media screen and (max-width: 550px) {
    .smr_loginPasswordBox {
      width: 90%;
    }

    .pro_SmilingLoginCodeBtn {
      width: 90%;
      height: 40px !important;
      font-size: 13.5px !important;
    }

    .pro_cancleForgot {
      width: 90%;
      height: 40px !important;
    }

    .pro_loginText {
      width: 90%;
    }

    .submitBtnForgot {
      width: 90%;
      height: 40px !important;
    }

    .AuthScreenSubTitle {
      margin-top: -65px !important;
    }
  }
}
