@use "../../../scss/variable" as *;

.proCat_prodDetail_bodyContain {
  background-color: $backgroundColor;
  height: 100%;
  min-height: 100vh !important;
}

.proCat_prodDetail_outerContain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proCat_prodDetail_whiteInnerContain {
  background-color: #fff;
  width: 100%;
}

.proCat_prod_detail_main {
  width: 100%;
}

.proCat_prod_image_shortInfo {
  width: 95%;
  display: flex;
  height: 100vh;
  margin-inline: auto;

  // @media (max-width: 1550px) {
  //   width: 93%;
  // }

  // @media (max-width: 1350px) {
  //   width: 90%;
  // }

  // @media (max-width: 1200px) {
  //   width: 100%;
  // }

  // @media (max-width: 1400px) {
  //   height: 100%;
  // }
}

.proCat_prod_image_Sec {
  width: 60%;
  display: flex;
  justify-content: center;
}

.proCat_prod_shortInfo {
  width: 40%;
  display: flex;
  justify-content: center;
}

.proCat_main_prod_img {
  display: flex;
  // flex-direction: row-reverse;
  width: 80%;
  position: relative;
  justify-content: center;
  align-items: center;
  // margin-left: 51px;
}

.proCat_prod_img {
  position: inherit;
  width: 100%;
  object-fit: scale-down;
}

.proCat_prod_video {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 35px;
}

.proCat_prod_video {
  position: inherit;
  width: 100%;
  object-fit: scale-down;
}

.proCat_prod_thumb_img {
  object-fit: contain;
  width: 70px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
}

.proCat_thumb_prod_img {
  position: absolute;
  // left:15px;
  // top:20px
  padding: 35px 0px 0px 15px;
  left: -71px;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 1200px) {
    height: inherit;
  }
}

.proCat_prod_shortInfo_inner {
  margin: 0px 100px 0px;
  width: 60%;
  height: 100vh;
  padding-right: 10px;
  box-sizing: content-box;

  overflow-y: auto;
  // scrollbar-width: thin;
  // scrollbar-color: #c0c0c0 #f0f0f0;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 3px;
}

.proCat_prod_titleLine {
  text-align: start !important;
  font-size: 25px;
  // font-size: 40px;
  font-family: $homePageFontFamily;
  font-weight: 400;
  font-style: normal;
  color: $primaryfontcolor2;
}

.proCat_prod_summury_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $primaryBorderColor;
  padding-bottom: 12px;
}

.proCat_prod_summury_info_inner {
  display: flex;
  flex-direction: column;
}

.proDuct_swiper_button_prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  height: 90px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.proDuct_swiper_button_next {
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 10;
  cursor: pointer;
  height: 90px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.rightIconeP {
  height: 70px;
  width: 70px;
}

.proCat_single_prod_designno {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  color: $primaryfontcolor2;
  display: flex;
  align-items: center;
}

.proCat_prod_short_key {
  font-size: 14px;
  color: $primaryfontcolor2;
}

.proCat_prod_short_val {
  font-family: $primaryFontFamilyMedium;
  letter-spacing: 2px;
}

.proCat_single_prod_customize {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 12px;
}

.proCat_single_prod_customize_metal {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 15px;
  gap: 5px;
}

.proCat_single_prod_customize_outer {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 15px;
  padding-top: 10px;
  gap: 5px;
  border-top: 1px solid $primaryBorderColor2;
}

.menuItemTimeEleveDeatil {
  font-size: 13px;
  color: $primaryfontcolor;
  letter-spacing: 1px;
  font-family: $primaryFontFamily;
}

.menuitemSelectoreMain {
  border: none;
  outline: none;
  font-size: 15px;
  color: $primaryfontcolor2;
  font-family: $primaryFontFamilyMedium;
  // font-weight: bold;
  letter-spacing: 2.2px;
  height: 30px;
  // background-color: white;
}

.proCat_price_portion {
  font-size: 24px;
  display: flex;
  letter-spacing: 2.2px;
  font-family: $primaryFontFamilyMedium;
  margin-left: 5px;
  color: $primaryfontcolor2;
  margin-top: 12px;
}

.Smr_CartAndWish_portion {
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.proCat_AddToCart_btn {
  // border: 1px solid #7d7f85;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 49px;
  cursor: pointer;
  // background-color: white;
}

.proCat_AddToCart_btn_afterCart {
  // border: 1px solid #7d7f85;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 49px;
  cursor: pointer;
  // color: black;
  // background-color: #cbe5ff;
}

.pro_addtocart_btn_txt {
  font-family: $primaryFontFamily;
  font-size: 16px;
  letter-spacing: 1.5px;
  position: relative;
  font-weight: 600;
  // color: $primaryfontcolor2;
}

.Smr_wishlistcont {
  border: 1px solid #7d7f85;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4%;
  border-radius: 2px;
  background-color: white;
}

.proCat_proDeatilList {
  width: 25%;
  font-weight: 600;
  color: $primaryfontcolor2;
  text-decoration: underline;
}

.proCat_proDeatilList1 {
  width: 25%;
  color: #808080;
  font-size: 14px;
}

.proCat_material_details_portion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 110px;
  margin-top: 70px;
}

.proCat_stockItem_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 130px;
  margin-top: 50px;
}

.proCat_details_title {
  font-size: 30px;
  text-align: center;
  font-family: $homePageFontFamily;
  color: $primaryfontcolor2;
}

.proCat_app_productDetail_label {
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
  font-size: 14px;
  margin-left: 8px;
}

.proCat_app_Deatil_instock {
  background-color: #c4efc8;
  color: #433838;
  padding-inline: 7px;
  text-transform: uppercase;
  border-radius: 6px;
}

.proCat_app_deatil_MEMO {
  background-color: #f7c392;
  color: black;
  text-transform: uppercase;
  padding-inline: 7px;
  border-radius: 6px;
}

.proCat_app_Make_to_order {
  background-color: #c1c1f5;
  color: black;
  text-transform: uppercase;
  border-radius: 6px;
  padding-inline: 5px;
}

.proCat_material_details_portion_inner {
  width: 60%;
}

.proCat_mt_detail_title_ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin: 0px 0px 3px;
}

.cart_and_wishlist_icon {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  flex-direction: row-reverse;
}

.proCat_stockitem_container {
  width: 100%;
}

.proCat_stock_item_card {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-inline: 3%;
  width: 94%;
}

.proCat_stockItemCard {
  display: flex;
  position: relative;
  width: 310px;
  // width: 19%;
  border: 1px solid #e1e1e1;
  text-align: center;
  flex-direction: column;
}

.proCat_productCard_Image {
  object-fit: scale-down;
  background-position: 50%;
  background-size: cover;
  width: 100%;
}

.procat_productCard_Image {
  object-fit: contain;
  // background-position: 50%;
  background-size: cover;
  // height: 100%;
  // min-height: 100%;
  width: 100%;
}

.proCat_prod_Allwt {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  gap: 3px;
  font-family: $primaryFontFamily;
  color: $primaryfontcolor2;
}

.proCat_prod_wt {
  display: flex;
  gap: 2px;
  align-items: center;
  font-family: $primaryFontFamily;
}

.proCat_moreProduct_swiperMainDiv {
  margin-bottom: 70px;
}

.proCat_keys {
  font-size: 12px;
}

.proCat_val {
  font-size: 12px;
  font-weight: 400;
}

.proCat_prod_designno {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 5px;
  color: $primaryfontcolor2;
}

.proCat_stockItem_price_type_mt {
  color: $primaryfontcolor;
  font-size: 14px;
  font-family: $primaryFontFamily;
}

.proCat_stockItem_price_type_mt {
  color: $primaryfontcolor;
  font-size: 15px;
  font-weight: 500;
  font-family: $primaryFontFamily;
}

.procat_cart_btn {
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  // background-color: #98B8D9 !important;
  margin-inline: 0 !important;
}

.proCat_prodd_datanotfound {
  font-family: $primaryFontFamilyMedium;
  color: $primaryfontcolor;
  font-size: 42px;
}

.proCat_swiper_container {
  align-items: center;
  // animation: fadeIn 1s forwards;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  // opacity: .5;
  padding: 0 10px;

  // @keyframes fadeIn {
  //   to {
  //     opacity: 1;
  //   }
  // }

  .proCat_Swiper_slide_custom {
    // width: 220px !important;
    cursor: pointer;
  }

  .procat_design_slide_detailpage {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    border-radius: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .procat_design_slide_detailpage_card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    width: 20%;

    @media screen and (max-width: 1200px) {
      width: 25%;
    }

    @media screen and (max-width: 800px) {
      width: 30%;
    }

    @media screen and (max-width: 550px) {
      width: 40%;
    }


    img {
      width: 100%;
      height: 100%;
    }
  }

  .procat_design_details_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-block: 0.2rem;

    span {
      color: rgb(89, 70, 70);
      font-family: $primaryFontFamily;
      font-size: 17px;
      text-align: center;
    }
  }

  .design-info {
    margin-top: 2px;
    text-align: start;

    .proCat_album1Titleline {
      font-size: $fontSize1;
      color: $titleColor;
      padding: 0;
      margin: 0;
      text-align: start;
      letter-spacing: 0.5px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .proCat_album1price {
      font-size: $fontSize2;
      letter-spacing: 0.5px;
      color: #7d7f85;
      font-weight: bold;
      padding: 0;
      margin: 0;
      text-align: start;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: #b7b7b7;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    z-index: 12;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px !important;

    &:after {
      font-size: 16px;
    }
  }

  .swiper-button-disabled {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: auto;
    background-color: #ababab;
    margin-top: -20px !important;
  }

  @media (max-width: 900px) {

    .swiper-button-prev,
    .swiper-button-next {
      background-color: #b7b7b7;
      color: #fff;
      padding: 10px;
      border-radius: 50%;
      z-index: 12;
      width: 27px;
      height: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -20px !important;

      &:after {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1200px) {
  // .swiper-slide-custom {
  //     min-width: 260px !important;
  // }

  .procat_design_slide_detailpage {
    // padding: 20px !important;
  }

  .proCat_ablbumtitleDiv {
    .proCat_albumtitle {
      font-size: 18px !important;
    }
  }

  .proDuct_swiper_button_prev {
    top: 25% !important;
  }

  .proDuct_swiper_button_next {
    top: 25% !important;
  }
}

// @media (max-width: 992px) {
//     .swiper-slide-custom {
//         min-width: 220px !important;
//     }

//     .design-slide {
//         padding: 20px !important;
//     }
// }

@media (max-width: 768px) {
  // .swiper-slide-custom {
  //     min-width: 180px !important;
  // }

  // .proCat_Albumtab {
  //     min-height: 35px !important;
  // }

  .procat_design_slide_detailpage {
    // padding: 10px !important;
  }

  // .design-info {
  //     .proCat_album1price {
  //         font-size: $fontSize1 !important;
  //     }
  // }
}

@media screen and (max-width: 1200px) {
  .proCat_prod_image_shortInfo {
    display: flex;
    flex-direction: column;
  }

  .proCat_prod_video {
    position: relative;
    left: 0;
    margin-bottom: 35px;
    height: 80%;
  }

  // .proCat_thumb_prod_img{
  // /* position: absolute; */
  // /* padding: 35px 0px 0px 15px; */
  // // left: -71px;
  // // top: 0;
  // display: flex;
  // /* flex-direction: column; */
  // gap: 5px;
  // justify-content: center;
  // align-items: center;
  // }
  .proCat_thumb_prod_img {
    display: flex;
    gap: 5px;
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    left: 0px;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: thin;
  }

  .proCat_prod_image_Sec {
    width: 100%;
  }

  .proCat_prod_shortInfo {
    width: 100%;
  }

  .proCat_material_details_portion {
    margin-top: 15px;
  }

  .proCat_material_details_portion_inner {
    width: 100%;
    margin-left: 7%;
  }

  .proCat_prod_shortInfo_inner {
    margin: 0;
    width: 80%;
  }
}

@media screen and (max-width: 1400px) {
  .proCat_prod_shortInfo_inner {
    margin: 70px 0px 0px;
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .proCat_prod_titleLine {
    font-size: 22px;
  }

  .proCat_prod_shortInfo_inner {
    width: 100%;
    margin: 70px 20px;
  }

  .proCat_material_details_portion_inner {
    width: 100%;
    margin-left: 0;
  }
}

.proCat_prod_description {
  position: relative;
}

.proCat_description-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
  transition: height 0.3s ease;
  margin: 0;
  color: #7d7f85;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: -2px;
}

.proCat_show-more .proCat_description-text {
  -webkit-line-clamp: unset;
  height: none;
}

.proCat_toggle-text {
  display: block;
  cursor: pointer;
  color: #7d7f85;
  font-weight: 600;
  text-align: right;
  text-decoration: underline;
  font-size: 0.9rem;
  font-size: 13px !important;
}