@use '../../../../theme/fgstore.pro/style/variable.scss' as *;


.proCat_bodyContain {
  background-color: $backgroundColor;
  height: 100%;
  width: 100%;
}

.proCat_outerContain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proCat_backtotop {
  color: black;
  font-family: $primaryFontFamily;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: $backgroundColor;
  width: 100%;
  cursor: pointer;
}

.smr_prodSorting {
  display: flex;
  //   justify-content: flex-end;
  font-family: "Rubik", sans-serif;
  width: 100%;
}

.proCat_mobile_prodSorting {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 5px;
}

.proCat_empty_sorting_div {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
}

.proCat_mpty_sorting_div {
  display: flex;
  justify-content: start;
  align-items: center;
  // width: 29% !important;
  padding: 0px 0px 0px 11%;
  // padding: 0px 0px 0px 17%;
}

.proCat_mpty_sorting_div_NoData {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 10px 0px 0px;
}

.proCat_main_sorting_div_proCat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98.3%;
  margin: 15px 0px 10px 0px;
}

.proCat_main_sorting_div_proCat_noLength {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 98.3%;
  margin: 15px 0px 10px 0px;
}

.btnColorProCatProduct {
  font-size: 14px;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.btnColorProCatProductRemoveCart {
  font-size: 14px;

  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.proCat_productListCard_Image {
  object-fit: contain;
  width: 100%;
  height: 260px;

  @media (max-width: 1750px) {
    height: 250px;
  }

  @media (max-width: 1700px) {
    height: 280px;
  }

  @media (max-width: 1650px) {
    height: 265px;
  }

  @media (max-width: 1550px) {
    height: 245px;
  }

  @media (max-width: 1470px) {
    height: 225px;
  }

  @media (max-width: 1350px) {
    height: 210px;
  }

  @media (max-width: 1200px) {
    height: 270px;
  }

  @media (max-width: 1100px) {
    height: 250px;
  }

  @media (max-width: 1040px) {
    height: 315px;
  }

  @media (max-width: 950px) {
    height: 290px;
  }

  @media (max-width: 870px) {
    height: 260px;
  }

  @media (max-width: 870px) {
    height: 260px;
  }

  @media (max-width: 780px) {
    height: 240px;
  }

  @media (max-width: 720px) {
    height: 220px;
  }

  @media (max-width: 600px) {
    height: 270px;
  }

  @media (max-width: 500px) {
    height: 240px;
  }

  @media (max-width: 450px) {
    height: 200px;
  }

  @media (max-width: 370px) {
    height: 170px;
  }
}

.proCat_NameTopShow {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: gray;
  margin: 0px;
  padding: 0px;
}

@mixin truncate-lines($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 36px;
}

.container {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid $primaryBorderColor;
  width: auto;
  //   margin-right: 65px;
  //   margin-top: 10px;
}

.smr_sorting_custom_NoData {
  display: flex;
  justify-content: space-between;
}

.NoDatacontainer {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid $primaryBorderColor;
  width: fit-content;
  //   margin-right: 65px;
  //   margin-top: 10px;
}

.proCat_app_product_label {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
  font-size: 11px;
}

.proCat_app_instock {
  background-color: #c4efc8;
  color: #433838;
  text-transform: uppercase;
  width: 70px;
  border-radius: 6px;
}

.proCat_app_MEMO {
  background-color: #f7c392;
  color: black;
  text-transform: uppercase;
  border-radius: 6px;
  width: 70px;
}

.proCat_app_Make_to_order {
  background-color: #c1c1f5;
  color: black;
  text-transform: uppercase;
  border-radius: 6px;
  padding-inline: 5px;
}

.label {
  font-size: 12px;
  color: $primaryfontcolor;
}

.select {
  width: auto;
  min-width: 120px;
  height: 27px;
  border: none;
  outline: none;
  font-size: 12px;
  color: $primaryfontcolor;
  display: flex;
  justify-content: center;
}

.option {
  font-size: 12px;
  color: $primaryfontcolor;
  display: flex;
  justify-content: center;
  //   padding: 12px;
  //   width:120px;
}

// main portion of product and filter

.smr_mainPortion {
  width: 100%;
  display: flex;
}

.proCat_filter_portion {
  width: 15%;
  font-family: $primaryFontFamily;
}

// .smr_filterDrawer .MuiPaper-root{
//   // width: 400px !important;
//   display: flex;
//   flex-direction: column-reverse;
// }

.smr_mobile_filter_portion {
  min-width: 300px;
  font-family: $primaryFontFamily;
}

.proCat_filter_portion_outter {
  padding: 20px 5px 0px 30px;
}

.smr_mobile_filter_portion_outter {
  padding: 6% 6%;
}

.smr_filter_text {
  font-weight: bold;
  font-family: $primaryFontFamily;
  color: $primaryfontcolor;
  display: flex;
  justify-content: space-between;
}

.procat_productList {
  width: 85%;
  display: flex;
  align-items: baseline;
  margin: 10px 25px 0px 25px;
  flex-direction: column;
}

.procat_productList_Nodata {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin: 10px 25px 0px 25px;
  flex-direction: column;
}

.smr_outer_portion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.smr_breadcums_port {
  // position: absolute;
  // top: -40px;
  // z-index: 999;
  font-family: $primaryFontFamily;
  font-size: 0.85rem;
  color: $primaryfontcolorLight;
  // margin-left:72px;
  margin-top: 10px;
  cursor: pointer;
}

.smr_inner_portion {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // justify-content: center;
}

.procat_productCard {
  width: 19%;
  margin: 5px;
  border: 1px solid $primaryBorderColor;
  text-align: center;
  color: $primaryfontcolor;
  position: relative;
  z-index: 0;
  font-family: $primaryFontFamily;
}

// .proCat_ImgandVideoContainer {
//   border-radius: 8px;
//   // min-height: fit-content;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   overflow: hidden;

//   // @media (max-width: 500px) {
//   //   height: 20vh;
//   //   min-height: 250px;
//   // }

//   // @media (max-width: 375px) {
//   //   height: 20vh;
//   //   min-height: 200px;
//   // }

//   img,
//   video {
//     width: 100%;
//     // height: 100%;
//     height: 270px;
//     object-fit: contain;
//     border-radius: 8px;

//     @media (max-width: 1750px) {
//       height: 250px;
//     }

//     @media (max-width: 1500px) {
//       height: 230px;
//     }
//     @media (max-width: 1350px) {
//       height: 210px;
//     }
//     @media (max-width: 1200px) {
//       height: 270px;
//     }
//     @media (max-width: 1100px) {
//       height: 250px;
//     }
//     @media (max-width: 1040px) {
//       height: 270px;
//     }
//     @media (max-width: 600px) {
//       height: 250px;
//     }
//     @media (max-width: 500px) {
//       height: 100%;
//     }
//   }
// }

.roop_ImgandVideoContainer {
  height: 260px;
  width: 100%;

  @media (max-width: 1750px) {
    height: 250px;
  }

  @media (max-width: 1700px) {
    height: 280px;
  }

  @media (max-width: 1650px) {
    height: 265px;
  }

  @media (max-width: 1550px) {
    height: 245px;
  }

  @media (max-width: 1470px) {
    height: 225px;
  }

  @media (max-width: 1350px) {
    height: 210px;
  }

  @media (max-width: 1200px) {
    height: 270px;
  }

  @media (max-width: 1100px) {
    height: 250px;
  }

  @media (max-width: 1040px) {
    height: 315px;
  }

  @media (max-width: 950px) {
    height: 290px;
  }

  @media (max-width: 870px) {
    height: 260px;
  }

  @media (max-width: 780px) {
    height: 240px;
  }

  @media (max-width: 720px) {
    height: 220px;
  }

  @media (max-width: 600px) {
    height: 270px;
  }

  @media (max-width: 500px) {
    height: 240px;
  }

  @media (max-width: 450px) {
    height: 200px;
  }

  @media (max-width: 370px) {
    height: 170px;
  }
}

.smr_productCard_noFil {
  width: 25%;
  border: 1px solid $primaryBorderColor;
  text-align: center;
  color: $primaryfontcolor;
  position: relative;
  z-index: 0;
  font-family: $primaryFontFamily;
}

.cart_and_wishlist_icon {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1111111;
}

.smr_productCard_Image {
  object-fit: scale-down;
  background-position: 50%;
  background-size: cover;
  height: 412px;
  min-height: 412px;
  width: 100%;
}

.proCat_prod_card_info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 3px;
}

.proCat_price {
  display: flex;
  color: $primaryfontcolor;
  margin-left: 5px;
}

.proCatPriceMobile {
  font-size: 14px;
}

.proCat_prod_Title {
  display: flex;
  font-family: $primaryFontFamily;
}

.proCat1_prod_title_with_no_width {
  font-size: 14px;
  display: flex;
  text-transform: uppercase;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 98%;
}

.proCat_prod_mtcolr_price {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 3px;
  font-family: $primaryFontFamily;
  padding: 2px 0px 2px 7px;
  align-items: baseline;
}

.smr_prod_title_with_width {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // padding: 0 5px;
  min-height: 19.5px;
  // width: 300px;
  // margin: 3px;
  max-height: 3em;
  /* Adjust as needed */
  display: flex;
  align-items: center;
  // justify-content: center;
  letter-spacing: 0.5px;
}

.smr_prod_title_with_no_width {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 5px;
  min-height: 19.5px;
  /* width:300px; */
  // margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.smr_prod_designno {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 5px;
}

.proCat_prod_Allwt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-family: $primaryFontFamily;
}

.smr_por {
  display: flex;
  // align-items: center;
  flex-direction: column;
}

.smr_prod_wt {
  display: flex;
  gap: 2px;
}

.smr_keys {
  font-size: 12px;
}

.smr_val {
  font-size: 12px;
  font-weight: 400;
}

.procat_cart_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #98b8d9 !important;
  margin-left: 0 !important;
}

.procat_cart_btn_alter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbe5ff;
  margin-left: 0 !important;
}

.proCat_productCard_video {
  object-fit: contain;
  width: 100%;
  height: 260px;

  @media (max-width: 1750px) {
    height: 250px;
  }

  @media (max-width: 1700px) {
    height: 280px;
  }

  @media (max-width: 1500px) {
    height: 230px;
  }

  @media (max-width: 1350px) {
    height: 210px;
  }

  @media (max-width: 1200px) {
    height: 270px;
  }

  @media (max-width: 1100px) {
    height: 250px;
  }

  @media (max-width: 1040px) {
    height: 270px;
  }

  @media (max-width: 600px) {
    height: 250px;
  }

  @media (max-width: 500px) {
    height: 100%;
  }
}

.smr_mui_checkbox_label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
  font-family: $primaryFontFamily;
  font-size: 12px !important;
}

.pro_mui_checkbox_label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
  font-family: $primaryFontFamily;
  font-size: 12px !important;
}

// .MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.MuiTypography-root {
//   font-size: clamp(0.6rem, 0.9vw, 1.2rem) !important;
// }

.smr_prod_datanotfound {
  font-family: $primaryFontFamilyMedium;
  color: $primaryfontcolor;
  font-size: 28px;
}

.filtercategoryLable {
  color: $primaryfontcolor;
  border-radius: 0;
}

.smr_metal_custom {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smr_dia_custom {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smr_cs_custom {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smr_product_label {
  position: absolute;
  top: 45px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.smr_instock {
  background-color: #00800045;
  color: black;
  padding: 0px 5px;
}

.smr_bestSeller {
  background-color: #bc000075;
  color: white;
  padding: 0px 5px;
}

.smr_intrending {
  background-color: khaki;
  color: black;
  padding: 0px 5px;
}

.smr_newarrival {
  background-color: lightskyblue;
  color: black;
  padding: 0px 5px;
}

.proCat_whiteInnerContain {
  background-color: #fff;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

// .smr_shorcutCustomization{
//     border:1px solid #d9d9d9;
//     // margin-inline:5%;
//     width: 98.7%;
// }
@media screen and (max-width: 1700px) {
  .procat_productCard {
    width: 24%;
    margin: 5px;
  }

  .proCat_filter_portion {
    width: 20%;
  }

  .procat_productList {
    width: 80%;
  }

}

@media screen and (max-width: 1500px) {
  .procat_productCard {
    width: 23.5% !important;
  }
}

@media screen and (max-width: 1441px) {
  .smr_productCard_noFil {
    width: 32%;
  }
}

@media screen and (max-width: 1200px) {
  .proCat_filter_portion {
    display: none !important;
  }

  .proCat_filter_portion_outter {
    display: none;
  }

  .smr_filter_portion {
    width: 0;
  }

  .procat_productList {
    width: 100%;
    margin: 0px 10px 0px 10px;
  }

  .smr_productCard_Image {
    height: 312px;
    min-height: 312px;
  }
}

@media screen and (min-width: 1201px) {
  .proCat_topTitleList_mobile {
    display: none !important;
  }
}

@media screen and (max-width: 1200px) {
  .proCat_topTitleList {
    display: none !important;
  }

  .proCat_main_sorting_div_proCat {
    display: flex !important;
    justify-content: space-between !important;
    padding-inline: 10px;
  }

  .proCat_main_sorting_div_proCat_noLength {
    display: flex !important;
    justify-content: space-between !important;
    padding-inline: 10px;
  }

  .smr_sorting_custom_NoData {
    display: flex;
    width: fit-content !important;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1042px) {
  .procat_productCard {
    width: 32% !important;
    margin: 5px;
  }

  // .proCat_productListCard_Image {
  //   min-height: auto !important;
  // }

  .smr_prod_title_with_width {
    font-size: 12px;
  }

  .smr_product_label {
    font-size: 12px;
  }

  .proCat_prod_mtcolr_price {
    font-size: 12px;
  }

  .smr_prod_designno {
    font-size: 12px !important;
  }

  .smr_prod_title_with_no_width {
    font-size: 12px;
  }

  .smr_keys {
    font-size: 12px !important;
  }

  .smr_val {
    font-size: 12px !important;
  }

  .proCat1_prod_title_with_no_width {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .procat_productCard {
    // width: 48% !important;
    width: 31.7% !important;
    margin: 5px;
  }
}

@media screen and (max-width: 768px) {
  .procat_productCard {
    width: 31.5% !important;
    // width: 49%;
  }

  .smr_productCard_noFil {
    width: 49%;
  }

  .cart_and_wishlist_icon {
    width: 49%;
  }

  .proCat_produtList_mobileTitle {
    display: none !important;
  }

  .proCat_app_product_label {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 650px) {
  .smr_productCard_Image {
    height: 250px;
    min-height: 250px;
  }

  .proCat1_prod_title_with_no_width {
    font-size: 10px;
  }

  .smr_prod_title_with_width {
    font-size: 10px;
  }

  .smr_product_label {
    font-size: 10px;
  }

  .proCat_prod_mtcolr_price {
    font-size: 10px;
  }

  .smr_prod_designno {
    font-size: 10px !important;
  }

  .smr_prod_title_with_no_width {
    font-size: 10px;
  }

  .smr_keys {
    font-size: 9px !important;
  }

  .smr_val {
    font-size: 9px !important;
  }
}

@media screen and (max-width: 560px) {
  .smr_prod_title_with_width {
    display: none;
  }

  .proCatPriceMobile {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 1860px) {
  .smr_keys {
    font-size: 10px !important;
  }

  .smr_val {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 1674px) {
  .proCat_prod_Allwt {
    padding-inline: 0 !important;
  }
}

@media screen and (max-width: 590px) {
  .smr_keys {
    font-size: 9px !important;
  }

  .smr_val {
    font-size: 9px !important;
  }

  .procat_productCard {
    width: 48.5% !important;
    margin: 2px !important;
  }
}

@media screen and (max-width: 425px) {
  .smr_productCard_Image {
    height: 200px;
    min-height: 200px;
  }

  .procat_productList {
    width: 100%;
    margin: 5px 0px 0px 5px !important;
  }
}

@media screen and (max-width: 900px) {
  .procat_productList {
    width: 100%;
    margin: 8px 0px 0px 8px;
  }
}