.main_warrpper_pro {
  width: 100%;
  background-color: white;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    width: 98%;
  }


  .procatalog {
    &-banner {
      position: relative;
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      // background-color: rgb(229, 249, 255);
      background-color: whitesmoke;
      margin-bottom: 2rem;
      opacity: 0.9;

      @media screen and (max-width: 768px) {
        height: 200px;

        h1 {
          font-size: 1.5rem;
        }
      }

      @media screen and (max-width: 420px) {
        height: 120px;
      }
    }

    &-terms {
      min-height: 100vh;
      background-color: #ffffff;
    }

    &-main {
      margin: 0 auto;
      width: 72%;
      padding: 2rem;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1400px) {
        width: 85%;
      }

      @media screen and (max-width: 1000px) {
        width: 85%;
      }

      @media screen and (max-width: 768px) {
        width: 95%;
      }
    }

    &-title {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    &-introduction {
      color: #666;
      line-height: 1.75;
      margin-bottom: 2rem;
      text-wrap: pretty;
      text-align: justify;
    }

    &-section {
      margin-bottom: 3rem;

      &-title {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 1.5rem;
        font-weight: 500;
      }

      &-content-p {
        margin-bottom: 1.5rem;
      }
    }

    &-subtitle {
      font-size: 1.125rem;
      color: #444;
      margin-bottom: 1rem;
      font-weight: 500;
      text-wrap: pretty;
      text-align: justify;
    }

    &-text {
      color: #666;
      line-height: 1.75;
      margin-bottom: 1rem;
      text-wrap: pretty;
      text-align: justify;
    }

    &-conclusion {
      color: #666;
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid #eaeaea;
      text-wrap: pretty;
      text-align: justify;
    }
  }

  @media (max-width: 768px) {
    .procatalog {
      &-main {
        padding: 1rem;
      }

      &-title {
        font-size: 1.65rem;
        margin-bottom: 1.5rem;
      }

      &-section {
        margin-bottom: 2rem;

        &-title {
          font-size: 1.25rem;
        }
      }

      &-subtitle {
        font-size: 1rem;
      }
    }
  }


}