@use '../../../../theme/fgstore.pro/style/variable.scss' as *;


$cartUpdateBtncolor: #b1b1b1;

.ProCat_MainB2cBGDiv {
  background-color: $backgroundColor;
  font-family: $homePageFontFamily;
}


.cartMainb2cPageDiv {
  background-color: #fff;
  margin-inline: 6%;
}

// Top button Group code
.ProCat_B2ccartMainPages {
  display: flex;
  gap: 20px;
  margin-bottom: -8%;
}

.cartB2cBtnGroupMainDiv {
  text-align: center;
  padding-top: 40px;

  .ProCat_B2ccart-title {
    color: $titleColor;
    padding-bottom: 35px;
    font-size: $fontSize8;
  }

  .ProCat_B2ccartButton-group {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-inline: 6%;
    font-family: $homePageFontFamily !important;

    .ProCat_B2cReomoveAllCartbtn {
      text-transform: capitalize !important;
      color: $titleColor !important;
      text-decoration-color: $titleColor !important;
    }

    .ProCat_cartBtn {
      height: 60px;
      width: 150px;
      font-family: $homePageFontFamily !important;
      font-size: $fontSize3;
      color: $btn1FontColor;
      background-color: $btn1bgColor;
      border: 1px solid $btn1FontColor;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &.ProCat_cartActivebtn {
        background-color: $btn1ActivebgColor;
        color: $btn1hoverFontColor;
      }

      &:hover {
        color: $btn1hoverFontColor;
        background-color: $btn1ActivebgColor;
      }
    }
  }

  .ProCat_B2cplace-order-btn {
    font-family: $homePageFontFamily !important;
    background-color: $btn1hoverColor;
    color: $btn1hoverFontColor;
    font-size: $fontSize2;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    width: 200px;
    font-weight: 500;
    margin-inline: 6%;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #666;
    }
  }
}

.ProCat_B2cplace-order-btnMobile {
  font-family: $homePageFontFamily !important;
  background-color: $btn1hoverColor;
  color: $btn1hoverFontColor;
  font-size: $fontSize2;
  border: none;
  outline: none;
  height: 45px;
  border-radius: 5px;
  width: 200px;
  font-weight: 500;
  margin-inline: 6%;
  cursor: pointer !important;
  transition: background-color 0.3s;

  &:hover {
    background-color: #666;
  }

}

// @media (min-width: 1450px) {
//   .ProCat_b2cplaceOrderMobileMainbtnDiv {
//     display: none !important;
//   }
// }

// @media (max-width: 1450px) {
//   .ProCat_B2cplace-order-btnMobile {
//     display: none !important;
//   }
// }

// cart Main Page layout
.ProCat_B2CcartSide {
  width: 100%;
}


@media (max-width: 1700px) and (min-width: 1200px) {
  .ProCat_cartMainPage {
    gap: 0px;
  }
}

@media(max-width: 1050px) {
  .ProCat_cartMainPage {
    display: block !important;
  }
}

@media screen and (min-width: 1051px) {
  .ProCat_mobile-cartDetails {
    display: none !important;
  }

  .ProCat_cart-modal {
    display: none !important;
  }
}

// cart Details SCSS code (cart right side)

.ProCat_cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: column;
  }
}

.ProCat_Cart-imageDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;

  .ProCat_cartImage {
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 12px;
    // width: 35%;
  }
}

.ProCat_Cart_R-details {
  padding: 0 20px;
  flex: 1;
  max-width: 600px;

  .ProCat_cart-Titleline {
    font-size: $fontSize6;
    margin-bottom: 20px;
    color: $titleColor;
    text-align: center;
  }

  .ProCat_Cart-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

    .option {
      flex: 1 1 45%;
      display: flex;
      flex-direction: column;
      font-family: $homePageFontFamily !important;

      label {
        font-weight: bold;
        font-size: $fontSize2;
        color: $titleColor;
        margin-bottom: 5px;
      }

      select {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        color: $titleColor;
      }
    }
  }

  .ProCat_cartQtyPricemainDev {
    display: flex;
    justify-content: space-between;
  }

  // cart quantity scss

  .ProCat_cart-quantity {
    display: flex;
    width: 130px;
    height: 45px;

    .bttn-left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .input {
      width: calc(100px * 0.5);
      padding: 0;
      margin: 0;
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: none;
      border-right: none;
    }

    a.bttn,
    .bttn {
      width: calc(100px * 0.5);
      padding: 0;
      text-align: center;
      color: $titleColor;
      border: 1px solid #ccc;
      box-shadow: none;
      background-color: white;
      font-size: 24px;
      cursor: pointer;

      span {
        margin: auto !important;
      }
    }

    .bttn-right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .product-price {
    font-size: $fontSize6;
    color: $titleColor;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .ProCat_UpdateCartBtn {
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }

  .ProCat_cartUpdate-button {
    display: block;
    height: 40px;
    width: 100px;
    // padding: 15px;
    background-color: $cartUpdateBtncolor;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: $fontSize3;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      background-color: $btn1hoverColor;
    }
  }

}

.ProCat_MainCartList {
  margin: 5px 20px;
}

// cart list item css(left side)

.ProCat_B2CcartListCard {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: column !important;

  .ProCat_B2CDesignNoTExt {
    color: $titleColor;
    font-weight: bold;
    font-size: $fontSize1;
    font-family: $homePageFontFamily !important;
  }

  .ProCat_B2Ccard-ContentData {
    color: $titleColor;
    font-size: $fontSize1;
    font-family: $homePageFontFamily;
    display: flex !important;
    justify-content: start I !important;
    padding-right: 10px;
  }
}

.ProCat_B2CcartListImage {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.ProCat_B2CcartcontentData {
  padding: 16px 0px !important;
}

.ProCat_B2CItemRemarkbtn,
.ProCat_B2CReomoveCartbtn {
  color: $titleColor !important;
  font-size: $fontSize2;
}

.ProCat_B2CItemRemarkbtn {
  margin-right: 20px;
}


// update cart modal

.ProCat_modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProCat_Modal-cardList {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.ProCat_Modal-FilterList {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.ProCat_paper {
  position: relative;
  width: 1200px;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) !important;
  padding: 16px 32px;

}

.ProCat_Modal_Title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .ProCat_Modal_TitleTypo {
    color: $titleColor;
    margin: 0;
  }
}

.ProCat_closeIcon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.ProCat_cartmodal_body {
  margin-top: 20px;
}

.ProCat_cart-Accordian {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
}

.ProCat_Cart-prCard {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
}

.ProCat_ShortCutCombo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  .form-control {
    width: 250px;
    max-width: 250px;
  }
}

.ProCat_cartModal-Divider {
  margin: 10px 0px 20px 0px;
}

.ProCat_filter-AccrodianDetails {
  display: flex !important;
  justify-content: space-between !important;
}

.ProCat_cart-Accordion {
  .ProCat_FilterTitle {
    color: $titleColor;
    font-weight: 500;
    font-size: $fontSize4;
    font-family: $homePageFontFamily;
  }

  .ProCat_filterAccordianDeatilTitle {
    color: $titleColor;
    font-size: $fontSize3;
    font-family: $homePageFontFamily;
    padding-left: 10px;
  }

  .ProCat_filterCheckbox {
    color: $titleColor;
    font-size: $fontSize3;
    font-family: $homePageFontFamily;
  }
}

// customization ui

// .ProCat_projectRemark {
//   max-width: 600px;
//   padding: 5px 40px 20px 20px;
//   border: 1px solid #e5e7eb;
//   border-radius: 8px;
// }

// .ProCat_remarkTitle {
//   color: $titleColor;
//   font-size: $fontSize4;
//   font-weight: bold;
// }

// .ProCat_prRemarkText {
//   color: $titleColor;
//   font-size: $fontSize2;
// }

// .ProCat_AddReamrkBtn {
//   display: flex;
//   justify-content: end;
//   align-items: center;

//   button {
//     background-color: $cartUpdateBtncolor;
//     color: $btn1hoverFontColor;
//     height: 40px;
//     width: 150px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;

//     &:hover {
//       background-color: $btn1hoverColor;
//     }
//   }
// }

// .ProCat_product-remark {
//   margin: 15px 0px 15px 0px;

//   label {
//     display: block;
//     margin-bottom: 5px;
//     font-weight: bold;
//     color: $titleColor;
//   }

//   textarea {
//     width: 100%;
//     padding: 10px;
//     border: 1px solid #e5e7eb;
//     border-radius: 4px;
//     resize: none;
//     color: $titleColor;
//   }
// }

// .ProCat_projectRemarkBtn-group {
//   display: flex;
//   justify-content: flex-end;
//   gap: 10px;
//   margin-top: 10px;

//   button {
//     padding: 10px 20px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//   }

//   .ProCat_remarksave-btn {
//     background-color: $cartUpdateBtncolor;
//     color: $btn1hoverFontColor;

//     &:hover {
//       background-color: $btn1hoverColor;
//     }
//   }

//   .ProCat_remarkcancel-btn {
//     background-color: $btn1bgColor;
//     color: $btn1FontColor;
//     border: 1px solid $titleColor;

//     &:hover {
//       background-color: #f3f4f6;
//     }
//   }
// }

// .ProCat_projectUpdateCartBtn-group {
//   display: flex !important;
//   justify-content: end !important;
//   gap: 10px;
//   align-items: end;

//   button {
//     padding: 10px 20px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//   }

//   .ProCat_cartUpdate-btn {
//     background-color: $cartUpdateBtncolor;
//     color: $btn1hoverFontColor;

//     &:hover {
//       background-color: $btn1hoverColor;
//     }
//   }

//   .ProCat_cartCancel-btn {
//     background-color: $btn1bgColor;
//     color: $btn1FontColor;
//     border: 1px solid $titleColor;

//     &:hover {
//       background-color: #f3f4f6;
//     }
//   }
// }

.ProCat_CartSkelton {
  background-color: #f6f6f6 !important;
}