.proCatTopBannerImg {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
    margin-bottom: 12px;
}

@media screen and (max-width: 1200px) {
    .proCatTopBannerImg {
        height: 300px;
        margin-top: 16px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 768px) {
    .proCatTopBannerImg {
        height: 200px;
        border-radius: 16px;
        margin-top: 12px;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: 480px) {
    .proCatTopBannerImg {
        height: 150px;
        border-radius: 0px;
        margin-top: 8px;
        margin-bottom: 4px;
    }
}